<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Creation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admins/<%=idAdmin%>">Admin Panel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/admins/<%=idAdmin%>/organisation-registration-requests/onhold"
                >Manage Organisations</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/admins/<%=idAdmin%>/recruiter-registration-requests/onhold"
                >Manage Recruiters</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admins/<%=idAdmin%>/users"
                >Manage Users</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/admins/<%=idAdmin%>/organisation-registration-requests/history"
                >Organisation History</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/admins/<%=idAdmin%>/manage-recruiter/history"
                >Recruiter History</a
              >
            </li>
          </ul>
          <a class="btn btn-danger d-flex ms-auto" href="/logout"> Log Out </a>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Modify user</h5>
              <form
                method="post"
                action="/admins/<%=idAdmin%>/modify-user/<%=user.id%>"
              >
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                    value="<%= user.email %>"
                  />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="firstname" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        name="firstname"
                        placeholder="Enter first name"
                        value="<%= user.firstname %>"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        name="lastname"
                        placeholder="Enter last name"
                        value="<%= user.lastname %>"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phonenumber" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="phonenumber"
                    name="phonenumber"
                    placeholder="Enter phone number"
                    value="<%= user.phonenumber %>"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Modify user
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
