<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>SIREN</th>
            <th>Name</th>
            <th>Type</th>
            <th>Headquarters</th>
        </tr>
        </thead>
        <tbody>
        <% organisations.forEach((organisation)=> { %>
            <tr>
                <td><%= organisation.SIREN %></td>
                <td><%= organisation.name %></td>
                <td><%= organisation.type %></td>
                <td><%= organisation.headquarters %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>