<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Num</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Indication</th>
            <th>Number of attachments</th>
            <th>Job description</th>
            <th>Recruiter</th>
          </tr>
        </thead>
        <tbody>
          <% jobOffers.forEach((jobOffer)=> { %>
          <tr>
            <td><%= jobOffer.id %></td>
            <td><%= jobOffer.status %></td>
            <td><%= jobOffer.deadline %></td>
            <td><%= jobOffer.indication %></td>
            <td><%= jobOffer.numberofattachments %></td>
            <td><%= jobOffer.idjobdescription %></td>
            <td><%= jobOffer.idrecruiter %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>