<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Status</th>
            <th>Supervisor</th>
            <th>Type</th>
            <th>Place</th>
            <th>Workload</th>
            <th>Salary</th>
            <th>Description</th>
            <th>Organisation</th>
        </tr>
        </thead>
        <tbody>
        <% jobDescriptions.forEach((jobDescription)=> { %>
            <tr>
                <td><%= jobDescription.id %></td>
                <td><%= jobDescription.title %></td>
                <td><%= jobDescription.status %></td>
                <td><%= jobDescription.supervisor %></td>
                <td><%= jobDescription.type %></td>
                <td><%= jobDescription.place %></td>
                <td><%= jobDescription.workload %></td>
                <td><%= jobDescription.salary %></td>
                <td><%= jobDescription.description %></td>
                <td><%= jobDescription.idorganisation %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>

